
.sec1{
    width: 100%;
    height: 450px;
    display: flex;

    .table{
        width: 40%;

         ul{
             li{
                list-style: none;
             }
         }
    }


    
    img{
        height: 450px;  

    }
    
}

